<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=<YOUR TAG ID HERE>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '<YOUR TAG ID HERE>');
    </script> -->

    <title>Bahi Khata</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/animate/checkmark.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!--===============================================================================================-->
</head>

<body>


    <div class="limiter">
        <div class="container-login100">
            <!-- <nav style="background-color: transparent;" class="navbar fixed-top">
                <li class="nav-item">
                    <a href=" url_for('main.index') }}" class="nav-link" id="navbar100">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href=" url_for('main.profile') }}" class="nav-link" id="navbar100">
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a href=" url_for('auth.login') }}" class="nav-link" id="navbar100">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a href=" url_for('auth.signup') }}" class="nav-link" id="navbar100">
                        Sign Up
                    </a>
                </li>
                <li class="nav-item">
                    <a href=" url_for('auth.logout') }}" class="nav-link" id="navbar100">
                        Logout
                    </a>
                </li>
            </nav> -->

            {% block content %}
            {% endblock %}
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendor/bootstrap/js/popper.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="/static/js/main.js"></script>

</body>

</html>